@charset "UTF-8";

/*
*   Aircraft broker custom styles 
*/
#alpha-sierra-logo {
  width: 3rem;
}

.aircraft-list-img {
  width: 95%;
}

.required-indicator {
  color: red;
}

/* bootstrap overrides */

#home-aircraft-carousel {
  width: 50%;
  margin: 0 auto;
}

.btn-primary {
  background-color: #00009a;
}
