@charset "UTF-8";

/*
*   Alpha Sierra custom styles 
*/
#alpha-sierra-logo {
  width: 3rem;
}

.aircraft-list-img {
  width: 95%;
}

.required-indicator {
  color: red;
}

.as-bg-body {
  background-color: silver;
}

/* 
*   bootstrap overrides
*/

#home-aircraft-carousel {
  width: 50%;
  margin: 0 auto;
}

.btn-primary {
  background-color: #00009a;
  border-color: #00009a;
}

